.book .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.book .row .image {
    flex: 1 1 45rem;
}

.book .row .image img {
    width: 100%;
}

.book .row form {
    flex: 1 1 45rem;
    background: #fff;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: .5rem;
    padding: 2rem;
}

.book .row form h3 {
    color: var(--black);
    padding-bottom: 1rem;
    font-size: 3rem;
}

.book .row form .box {
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
}

.book .row form .box {
    width: 100%;
    margin: .7rem 0;
    border-radius: .5rem;
    border: var(--border);
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
}