.services .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.services .box-container .box {
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2.5rem;
}

.services .box-container .box i {
    font-size: 5rem;
    color: var(--green);
    padding-bottom: .5rem;
}

.services .box-container .box h3 {
    color: var(--black);
    padding: 1rem 0;
    font-size: 2.5rem;
}

.services .box-container .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span {
    text-transform: uppercase;
    color: var(--green);
}
